@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
    box-shadow: 0 4px 13.8px 0 rgba(0, 173, 239, .1); 
}

.box-shadow {
    box-shadow: 0 4px 13.8px 0 rgba(0, 173, 239, .1); 
}

.box-shadow:hover {
    box-shadow: 0 4px 13.8px 0 rgba(0, 173, 239, .18); 
}

.btn-shadow {
    box-shadow: 0 4px 13.8px 0 rgba(0, 0, 0, 0.08); 
}
